@model WebApp_TestApp_W3_InlvrOpdr.Models.Gebruiker

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gebruiker</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gebruikersnaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gebruikersnaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wachtwoord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wachtwoord)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<style>
    h1 {
        color: red;
    }

    div {
        color: black;
    }

    h4 {
        color: black;
    }

    h3 {
        COLOR: BLACK;
    }
</style>