@{
    ViewData["Title"] = "Keuzeopdracht: Verzamelwoede";
}

<div class="text-center">
    <h1 class="display-4"><b>Welkom op deze verzamelpagina, in het thema 'Postzegels'.</b></h1>
    <p><i>Leer meer over deze keuzeopdracht, <a href="https://moodle.zuyd.nl/pluginfile.php/1499643/mod_resource/content/14/Opdracht%20PI4%202023%20gelegenheid%201.pdf">klik hier</a>.</i></p>
</div>

<style>
    .display-4 {
        color: red;
    }

    p {
        color: black;
    }
</style>