@model WebApp_TestApp_W3_InlvrOpdr.Models.Joke

<!DOCTYPE html>
<html>
<head>
    <title>Joke Page</title>
</head>
<body>
    <center>
    <h1>Chuck Norris Joke API</h1>
    <div>
        <p>@Model.value</p>
        <p><i>Refresh de pagina voor een nieuwe joke!</i></p>
    </div>
    </center>
</body>
</html>


<style>
    p {
        color: black;
    }

    h1 {
        color: red;
    }
</style>