@{
    ViewData["Title"] = "Privacy Policy";
}
<center>
<h1 class="kop1">@ViewData["Title"]</h1>
<p>
    This Privacy Policy outlines how we collect, use, and protect your personal information when you use our services or visit our website.
    <br><br>
    <strong>Information We Collect:</strong>
    We may collect personal information such as your name, email address, and contact details when you interact with our website or services.
    <br><br>
    <strong>How We Use Your Information:</strong>
    We use your personal information to provide and improve our services, communicate with you, and personalize your experience.
    <br><br>
    <strong>Information Sharing:</strong>
    We do not share your personal information with third parties except as required by law or with your consent.
    <br><br>
    <strong>Security:</strong>
    We take measures to protect your personal information, but no method of transmission over the internet or electronic storage is completely secure.
    <br><br>
    <strong>Your Choices:</strong>
    You can access, update, or delete your personal information by contacting us. You can also opt out of receiving communications from us.
    <br><br>
    <strong>Changes to this Policy:</strong>
    We may update this Privacy Policy from time to time. Check this page for the latest information.
    <br><br>
    For more details, please review our full Privacy Policy.
</p>
</center>


<style>
    .kop1 {
        font-size: 36px;
        margin: 20px 0;
        color: red;
    }

    p {
        color: black;
    }
</style>